.olaUser {
    font-size: 12 px;
    color: #696969;
    float: right;
    padding-left: 25 px;
}

@media (max-width: 600px) {
    .item-animal div {
        display: block !important;
    }
    .lista-animais {
        margin-top: 30px;
    }
}

header.masthead .masthead-subheading {
    font-size: 1.25 rem;
    font-style: italic;
    line-height: 2.25 rem;
    margin-bottom: 2 rem;
}

header.masthead .masthead-heading {
    font-size: 3.5 rem;
    font-weight: 400;
    line-height: 4.5 rem;
    margin-bottom: 4 rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375 rem 0.75 rem;
    font-size: 1 rem;
    font-weight: 400;
    line-height: 2.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1 px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25 rem;
    transition: border-color 0.15 s ease-in-out, box-shadow 0.15 s ease-in-out;
    margin-bottom: 10 px !important;
}